**/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
**/.env

# Sistema Operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Arquivos temporários
*.log

# Build do Vite
frontend/dist

# Cache
.eslintcache